* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#content {
  max-width: 1340px;
}
:root {
  --green: #41d673;
  --orange: #ffab48;
}
body {
  background: #161616;  
}
/* first page */
.green {
  color: var(--green);
}
.orange {
  color: var(--orange);
}
.green_bg {
  background: var(--green);
}
.center_absolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro {
  min-height: 60vh;
}
/* second page */
.about_germans_intro {
  background: #DEB887;
}